<h1 class="confirm-page"> Your appointment </h1>



<p class="confirm-page">Thanks for signing up!!!!!!!! A pairing request has been sent to <%= @availability.mentor.first_name %> <%= @availability.mentor.last_name %>. Your mentor should respond to your request shortly. We will send you a notification confirming your request.</p><br>

<p class="confirm-page">Please check your mailbox as you will be receiving a user confirmation email.</p><br>

<p class="confirm-page">Your pairing status: pending</p>
